@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="margin-top:50px">
    <h1>The Police System</h1>
    <p class="lead">Sistema de Registro e Historico de Ocorrências Policiais</p>
</div>

<div class="row">
    
</div>